/*
 * Copyright (c) 2026 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 * Test requires following loopback:
 * P2.00 - P2.02
 */

 / {
	zephyr,user {
		miso-gpios = <&gpio2 2 GPIO_ACTIVE_HIGH>;
		mosi-gpios = <&gpio2 00 GPIO_ACTIVE_HIGH>;
		cs-loopback-gpios = <&gpio1 15 0>; //need some loopback that is actually connected to CSN
	};
};

&spi00 {
	status = "okay";
	pinctrl-0 = <&spi00_default>;
	pinctrl-1 = <&spi00_sleep>;
	pinctrl-names = "default", "sleep";
	overrun-character = <0x00>;
	zephyr,pm-device-runtime-auto;
	cs-gpios = <&gpio2 5 0>;

	slow@0 {
		compatible = "test-spi-loopback-slow";
		reg = <0>;
		spi-max-frequency = <DT_FREQ_M(4)>;
	};

	dut_fast: fast@0 {
		compatible = "test-spi-loopback-fast";
		reg = <0>;
		spi-max-frequency = <DT_FREQ_M(8)>;
	};
};

&gpio2 {
	status = "okay";
};
